@media only screen and (max-width:1024px){
/*----------------------------------
                Registra
----------------------------------*/
.registra img{
    width: 28%;
}
/*----------------------------------
              Planes
----------------------------------*/
.plan-contenedor {
    width: 80%;
}

}

@media only screen and (max-width:768px){
/*----------------------------------
            Caracteristicas
----------------------------------*/
.c-info{
    width: 90%;
}
/*----------------------------------
                Registra
----------------------------------*/
.registra img{
    width: 38%;
}
/*----------------------------------
              Ciudades
----------------------------------*/
.ciudad .cuartos{
    width: 22%;
    margin-left: 2.5%;
}

.cuartos p{
    line-height: 25px;
}
/*----------------------------------
                Planes
----------------------------------*/
.plan-contenedor {
    width: 100%;
}
/*----------------------------------
                Footer
----------------------------------*/
.politicas{
    line-height: 30px;
}

.politicas::after{
    margin: 5px auto;
}

footer .socios{
    position: absolute;
    left: 15%;
    top: 50%;
    width: 60%;
}

footer .social-media{
    top:60%;
    right: 12%;
}

}


@media only screen and (max-width:480px){
/*----------------------------------
            Headings
----------------------------------*/
h1{
    font-size: 1.5rem;
}

h2{
    padding-top: 60px;
}
/*----------------------------------
               Header
----------------------------------*/
.nav{
    width: 90%;
}

.nav-principal {
    padding-top: 60px;
    margin-right: 7%;
}

.nav-principal a{
    margin-left: 10px;
    font-size: 0.9rem;
}
/*----------------------------------
            Caracteristicas
----------------------------------*/
.caracteristicas{
    text-align: center;
}

.c-info {
    padding-top: 10px;
}    

.c-info i{
    padding-top: 20px;
}
/*----------------------------------
            Fotos Destacadas
----------------------------------*/
.f-contenedor li{
    width: 50%;
}
/*----------------------------------
                Registra
----------------------------------*/
.registra img {
    width: 50%;
}

.registra-contenedor p{
    padding: 5px 0px;
}

.registra-contenedor a{
    margin-top: 15px;
}
/*----------------------------------
              Ciudades
----------------------------------*/
.ciudad .cuartos{
    width: 48%;
    margin-left: 1%;
}
/*----------------------------------
                Planes
----------------------------------*/
.plan-cuerpo p{
    display: none;
}

.plan-cuerpo a{
    margin: 0px auto;
    padding: 8px 0px;
    margin-bottom: 15px;
}

.modulo-plan{
    width: 32%;
    margin: 0px 0px;
}

.plan-titulo{
    margin-bottom: 0px;
}

.plan-contenedor{
    padding-top: 20px;
}
/*----------------------------------
                Footer
----------------------------------*/
.politicas{
    width: 95%;
}

.politicas li{
    padding-left: 5px;
}

.politicas:after{
    display: none;
}

footer .socios{
    left: 5%;
}

footer .social-media{
    right: 7%;
}

}

/*----------------------------------
                Habitaciones
----------------------------------*/

@media (min-width: 480px) {
    .d-flex {
        display: flex!important;
        flex-direction: column!important;
        align-items: center!important;
    }
}

@media (min-width: 768px) {
    .d-flex {
        display: flex!important;
        flex-direction: column!important;
        align-items: center!important;
    }
}

@media (min-width: 1080px) {
    .d-flex {
        display: flex!important;
        flex-direction: row!important;
    }
}