<nav>
    <a href="index.html">
        <img class="logo" src="../../../assets/logos/hotel-logo.png" alt="logo-tribeca" alt="">
    </a>
    <ul class="nav-principal">
        <li><a routerLink="/habitaciones" >Habitaciones</a></li>
        <li><a routerLink="/servicios">Servicios</a></li>
        <li><a routerLink="/contacto">Contacto</a></li>
        <li><a routerLink="/sobrenosotros">Quienes somos</a></li>
        <li><a routerLink="/formulario">Registro</a></li>
        <li><a routerLink="/login">Inicia Sesión</a></li>
    </ul>
</nav>