<footer>
    <div class="politicas">
        <ul>
            <li><a href="index.html">INICIO</a></li>
            <li><a href="index.html#mapsS">LOCALIZACIÓN</a></li>
            <li><a href="contacto.html">CONTÁCTANOS</a></li>
            <li><a href="sobrenosotros.html">QUIENES SOMOS</a></li>
        </ul>
    </div>
    <div class="logo">
        <img src="Imágenes/HotelLogo.png" alt="hotel-logo">
    </div>
    <div class="social-media">
        <h4>Síguenos en:</h4>
        <a href="https://www.facebook.com/">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com/">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.instagram.com/">
            <i class="fab fa-instagram"></i>
        </a>

    </div>
</footer>
