<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Póney Pisador</title>
    <link rel="icon" href="Imágenes/HotelLogo.png">
    <link rel="stylesheet" type="text/css" media="screen" href="vendors/css/reset.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="vendors/css/grid.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="resouces/css/style.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="resouces/css/mqueries.css" />
    <link rel="stylesheet" href="Boostrap/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="main.js"></script>
</head>

<body>
    <header class="head_contacto">
        <div class="titulo-box">
            <h1>Atención al cliente:</h1>
        </div>
        <nav>
            <a href="index.html">
                <img class="logo" src="Imágenes/HotelLogo.png" alt="logo-tribeca" alt="">
            </a>
            <ul class="nav-principal">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="habitaciones.html">Habitaciones</a></li>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="sobrenosotros.html">Quienes somos</a></li>
                <li><a href="formulario.html">Registro</a></li>
                <li><a href="login.html">Inicia Sesión</a></li>
            </ul>
        </nav>
    </header>
    <div class="espacio"></div>

    <div class="container contact">
        <div class="row">
            <div class="col-md-3">
                <div class="contact-info">
                    <img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image" />
                    <h2>¿Qué necesitas?</h2>
                    <h4>Estamos dispuestos a ayudarte!</h4>
                </div>
            </div>
            <div class="col-md-9">
                <div class="contact-form">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="fname"></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="fname" placeholder="Ingresa tu nombre"
                                name="fname">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="lname"></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="lname" placeholder="Ingresa tu apellido"
                                name="lname">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email"></label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="email" placeholder="Ingresa tu email"
                                name="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="comment"></label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="5" id="comment" placeholder="Mensaje"></textarea>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="espacio"></div>
    <div class="espacio"></div>
    <div class="espacio"></div>

    <footer>
        <div class="politicas">
            <ul>
                <li><a href="index.html">INICIO</a></li>
                <li><a href="index.html#mapsS">LOCALIZACIÓN</a></li>
                <li><a href="contacto.html">CONTÁCTANOS</a></li>
                <li><a href="sobrenosotros.html">QUIENES SOMOS</a></li>
            </ul>
        </div>
        <div class="logo">
            <img src="Imágenes/HotelLogo.png" alt="hotel-logo">
        </div>
        <div class="social-media">
            <h4>Síguenos en:</h4>
            <a href="https://www.facebook.com/">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://twitter.com/">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.instagram.com/">
                <i class="fab fa-instagram"></i>
            </a>

        </div>
    </footer>

</body>

</html>