<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resouces/css/formulario.css">
    <title>Registro - Hotel Póney Pisador</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="vendors/css/reset.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="vendors/css/grid.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="resouces/css/style.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="resouces/css/mqueries.css" />
    <link rel="icon" href="Imágenes/HotelLogo.png">
    <link rel="stylesheet" href="Boostrap/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<body>
    <form action="" class="form" id="form1">
        <h2 class="form__title"> Registrate</h2>
        <p class="form__paragraph">Hotel El Póney Pisador.</p>

        <div class="form__container">
            <div class="form__group">
                <input type="text" id="nombre" class="form__input" placeholder=" ">
                <label for="nombre" class="form__label">Nombre</label>
                <span class="form__line"></span>
            </div>
            <div class="form__group">
                <input type="text" id="apellido" class="form__input" placeholder=" ">
                <label for="apellido" class="form__label">Apellido</label>
                <span class="form__line"></span>
            </div>
            <div class="form__group">
                <input type="email" id="email" class="form__input" placeholder=" ">
                <label for="email" class="form__label">Email</label>
                <span class="form__line"></span>
            </div>
            <div class="form__group">
                <input type="text" id="documento" class="form__input" placeholder=" " maxlength="8">
                <label for="documento" class="form__label">N°Documento</label>
                <span class="form__line"></span>
            </div>
            <div class="form__group">
                <input type="text" id="direccion" class="form__input" placeholder=" ">
                <label for="direccion" class="form__label">Dirección</label>
                <span class="form__line"></span>
            </div>
            <div class="form__group">
                <input type="tel" id="telefono" class="form__input" placeholder=" " maxlength="15">
                <label for="telefono" class="form__label">Teléfono</label>
                <span class="form__line"></span>
            </div>
            <div class="form__group">
                <input type="text" id="usuario" class="form__input" placeholder=" ">
                <label for="usuario" class="form__label">Nombre de Usuario</label>
                <span class="form__line"></span>
            </div>
            <div class="form__group">
                <input type="password" id="password" class="form__input" placeholder=" " maxlength="15">
                <label for="password" class="form__label">Contraseña</label>
                <span class="form__line"></span>
            </div>
            <input type="submit" class="form__submit" value="Registrarse">
        </div>
    </form>

    <script src="js/form1.js"></script>
</body>

</html>