<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Póney Pisador</title>
    <link rel="icon" href="Imágenes/HotelLogo.png">
    <link rel="stylesheet" type="text/css" media="screen" href="vendors/css/reset.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="vendors/css/grid.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="resouces/css/style.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="resouces/css/mqueries.css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet">
    <link rel="stylesheet" href="Boostrap/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="main.js"></script>
</head>

<body>
    <header class="head_servicios">
        <div class="titulo-box">
            <h1>Nuestros servicios:</h1>
        </div>
        <nav>
            <a href="index.html">
                <img class="logo" src="Imágenes/HotelLogo.png" alt="logo-tribeca" alt="">
            </a>
            <ul class="nav-principal">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="habitaciones.html">Habitaciones</a></li>
                <li><a href="contacto.html">Contacto</a></li>
                <li><a href="sobrenosotros.html">Quienes somos</a></li>
                <li><a href="formulario.html">Registro</a></li>
                <li><a href="login.html">Inicia Sesión</a></li>
            </ul>
        </nav>
    </header>
    <section class="servicios">
        <div class="c-container">
            <h2>Servicios</h2>
            <div class="c-info">
                <div class="col span-1-of-4">
                    <i class="fas fa-utensils"></i>
                    <h3>Comidas/Buffet</h3>
                    <p>Nuestro hotel cuenta con calidad en los alimentos, variedad y reposición de los mismos.
                        Un buen desayuno incluido, con buffet abundante y variado como el que
                        les traemos es primordial para empezar bien el día.</p>
                </div>
                <div class="col span-1-of-4">
                    <i class="fas fa-wifi"></i>
                    <h3>Entretenimiento</h3>
                    <p>Desde el Póney Pisador brindamos diversos servicios de entretenimiento. Ofrecemos
                        wifi gratuito para todos los huéspedes, acceso a la playa, gimnasio, estacionamiento y
                        mucho más.
                    </p>
                </div>
                <div class="col span-1-of-4">
                    <i class="fas fa-bell"></i>
                    <h3>Servicio de limpieza 24hs</h3>
                    <p>La desinfección es fundamental, y es por ello que el Hotel Póney Pisador
                        presenta el servicio de limpieza de 24hs para higienizar los baños, desinfectar las
                        habitaciones.
                    </p>
                </div>
                <div class="col span-1-of-4">
                    <i class="fas fa-shield-alt"></i>
                    <h3>SEGURIDAD EN TODO EL HOTEL</h3>
                    <p>Contamos con cámaras de ultima tecnología para proteger a todos los clientes
                        del hotel, prevenir robos y vandalismo. A su vez, contamos con seguridad privada
                        para la tranquilidad de los clientes.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="espacio"></div>
    <footer>
        <div class="politicas">
            <ul>
                <li><a href="index.html">INICIO</a></li>
                <li><a href="index.html#mapsS">LOCALIZACIÓN</a></li>
                <li><a href="contacto.html">CONTÁCTANOS</a></li>
                <li><a href="sobrenosotros.html">QUIENES SOMOS</a></li>
            </ul>
        </div>
        <div class="logo">
            <img src="Imágenes/HotelLogo.png" alt="hotel-logo">
        </div>
        <div class="social-media">
            <h4>Síguenos en:</h4>
            <a href="https://www.facebook.com/">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://twitter.com/">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.instagram.com/">
                <i class="fab fa-instagram"></i>
            </a>

        </div>
    </footer>

</body>

</html>