<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Póney Pisador</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="vendors/css/reset.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="vendors/css/grid.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="resouces/css/style.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="resouces/css/mqueries.css" />
    <link rel="icon" href="Imágenes/HotelLogo.png">
    <link rel="stylesheet" href="Boostrap/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="main.js"></script>
</head>

<body>
    <header class="aboutus">
        <div class="titulo-box">
            <h1>Conoce mas sobre nosotros:</h1>
        </div>
        <nav>
            <a href="index.html">
                <img class="logo" src="Imágenes/HotelLogo.png" alt="logo-tribeca" alt="">
            </a>
            <ul class="nav-principal">
                <li><a href="index.html"">Inicio</a></li>
                <li><a href=" habitaciones.html">Habitaciones</a></li>
                <li><a href=" servicios.html">Servicios</a></li>
                <li><a href="contacto.html">Contacto</a></li>
                <li><a href="formulario.html">Registro</a></li>
                <li><a href="login.html">Inicia Sesión</a></li>
            </ul>
        </nav>
    </header>

    <section class="sobre-nosotros">
        <h2>Historia</h2>
        <p class="descripcion_aboutus">
            Los inicios del Hotel Póney Pisador, se remontan al año 2014 cuando se decidió abrir el Hotel
            al inicio contaba con tan solo 7 habitaciones con todas las comodidades necesarias, lo que nos otorgó la
            categoría
            inicial de dos estrellas.
            <br>
            En julio del 2016, logramos ampliar nuestro número de habitaciones dispónibles de 7 a 12, al incrementarse
            la demanda por nuestro excelente servicio y atención.
            <br>
            En octubre 2018 se amplía la cantidad de habitaciones de 12 a 21, y de igual forma se inaugura
            nuestro restaurante y buffet, lo que nos permite ofrecer un servicio de comidas y bebidas a nuestros
            huéspedes enriqueciendo aun más la experiencia de nuestro hotel.
            <br>
            Con todos estos avances y con los distintos servicios que se adicionaron para beneficios de nuestros
            huéspedes nos enfocamos en seguir creciendo para que nuestros clientes y huéspedes disfruten
            del amplio catálogo de servicios y la atención personalizada de nuestros colaboradores que saben
            perfectamente
            que nuestros huéspedes son primero.
            <br>
            En Hotel Póney Pisador sabemos que un ambiente ideal para los negocios de nuestros clientes es parte de su
            éxito, por este motivo le ofrecemos un lugar donde la elegancia, el confort y la modernidad se
            complementan con un trato personalizado y un servicio de primera que harán de su estadía la clave
            de su éxito.
        </p>
        <h2>Misión</h2>
        <p class="descripcion_mision">
            Ser una sólida empresa hotelera a nivel local y regional, reconocida por la calidad humana
            y profesional de nuestros colaboradores.
        </p>
        <h2>Visión</h2>
        <p class="descripcion_vision">
            Satisfacer las necesidades de alojamiento de nuestros clientes, brindando servicios que cumplan con los mas
            altos estándares de calidad del mercado.
        </p>
        <h2>Valores</h2>
        <p class="descrip_valores">
        <ul class="listaValores">
            <li>Trabajo en equipo</li>
            <li>Compromiso</li>
            <li>Liderazgo</li>
            <li>Bienestar</li>
            <li>Honestidad</li>
            <br>
        </ul>
        </p>
    </section>

    <footer>
        <div class="politicas">
            <ul>
                <li><a href="index.html">INICIO</a></li>
                <li><a href="index.html#mapsS">LOCALIZACIÓN</a></li>
                <li><a href="contacto.html">CONTÁCTANOS</a></li>
                <li><a href="sobrenosotros.html">QUIENES SOMOS</a></li>
            </ul>
        </div>
        <div class="logo">
            <img src="Imágenes/HotelLogo.png" alt="hotel-logo">
        </div>
        <div class="social-media">
            <h4>Síguenos en:</h4>
            <a href="https://www.facebook.com/">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://twitter.com/">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.instagram.com/">
                <i class="fab fa-instagram"></i>
            </a>

        </div>
    </footer>

</body>

</html>